-
  requestFilter: 'isPackage("{packageKey}")'
  viewObjectName: 'byTorsten\React\Core\View\ReactView'
  <f:if condition="{path}">options:
    clientScript: 'resource://{packageKey}/Private/{path}/index.client.js'
    serverScript: 'resource://{packageKey}/Private/{path}/index.server.js'</f:if>
