import React from 'react';
import { renderToString, renderToStaticMarkup } from 'react-dom/server';
import { FlowProvider, FlowClient } from '@bytorsten/react';
import { getDataFromTree } from '@bytorsten/react/server';

import App from './src/App';
import Html from './src/Html';

export default async ({ context }) => {

  const client = new FlowClient({ context, assets });

  const app = (
    <FlowProvider client={client}>
      <App />
    </FlowProvider>
  );

  const styles = Object.keys(assets).reduce((allStyles, assetName) => {
    if (assetName.endsWith('.css')) {
        allStyles.push(assets[assetName]);
    }
    return allStyles;
  }, []);

  await getDataFromTree(app);
  const content = renderToString(app);
  const title = context.title || 'Title';
  const html = <Html content={content} title={title} styles={styles} state={client.extract()} />
  return `<!doctype html>\n${renderToStaticMarkup(html)}`;
};
