import React from 'react';
import { string, object, arrayOf } from 'prop-types';
import { FlowScript } from '@bytorsten/react';

const Html = ({ content, state, styles, title }) => (
  <html lang="en">
    <head>
      <meta charSet="utf-8"/>
      <title>{title}</title>
      <script dangerouslySetInnerHTML={{
        __html: `window.__FLOW_STATE__=${JSON.stringify(state).replace(/</g, '\\u003c')};`,
      }} />
      <FlowScript />

      {styles.map(uri => (
        <link key={uri} rel="stylesheet" href={uri} />
      ))}
    </head>
    <body>
      <div id="root" dangerouslySetInnerHTML={{__html: content}} />
    </body>
  </html>
);


Html.propTypes = {
  content: string.isRequired,
  state: object.isRequired,
  styles: arrayOf(string).isRequired,
  title: string.isRequired
};


export default Html;
